[GSOD FILES]
gsodFolderPath = /home/adam/gsod
stationInventoryFilename = isd-history.txt
unpackedFolderPath = unzipped

[POSTGRES]
postgresAddress = localhost
postgresPort = 5432
postgresDBName = whether
postgresUser = postgres
postgresPass = password
